/******* Banner Layout CSS Start *******/
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.section-banner {
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}

.banner-table {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/******* Banner Layout CSS End *******/

/******* Section Layout CSS Start *******/
.line-header {
    display: block;
    height: .2rem;
    width: 10rem;
    background: var(--color-orange-dark);
    margin: 0 auto;
}

.section-padding {
    padding: 5rem 0;
}

.section-header {
    margin-bottom: 5rem;
    text-align: center;
}

.section-header h2 {
    display: inline-block;
    color: var(--color-black);
    padding: .6rem;
    margin: .6rem 0;
}

.section-about {
    background: var(--section-background-white);
}

.section-skills {
    background: var(--section-background-grey);
}

.section-projects {
    background: var(--section-background-white);
}

.section-contact {
    background: var(--section-background-grey);
}

.section-footer {
    background: var(--color-grey-dark);
    color: var(--color-white);
    padding: 2rem 0;
}
/******* Section Layout CSS End *******/